<!DOCTYPE html>
<html lang="pl" ng-app="roomShares">
<head>
    <title>Wynajem pokoi</title>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="lib/flat-ui/dist/css/flat-ui.css" rel="stylesheet">
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/sockjs/sockjs.js"></script>
    <script src="lib/stomp/lib/stomp.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angularjs-toaster/toaster.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>

    <script src="lib/momentjs/moment.js"></script>
    <script src="lib/angular-moment-picker/dist/angular-moment-picker.js"></script>
    <link href="lib/angular-moment-picker/dist/angular-moment-picker.css" rel="stylesheet">

    <script src="js/myApp.js"></script>
    <script src="js/controller.js"></script>

</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container" ng-controller="RoomController">

    <toaster-container></toaster-container>

    <h2>Pokoje</h2>
    <button class="btn btn-default" ng-click="getRoomShares()">Get Room's Shares</button>
    <h4>Dostepne pokoje [{{allRoomShares.length}}]</h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="room in allRoomShares">
            <td>{{room.id}}</td>
            <td>{{room.startDate}}</td>
            <td>{{room.endDate}}</td>
        </tr>
        </tbody>
    </table>

    <button class="btn btn-default" ng-click="getUserRooms()"> Pokoje</button>
    <h4>Pokoje uzytkownika: {{username}} [{{rooms.length}}]</h4>
    <!--<div class="input-group"
         moment-picker="ctrl.myInput"
         format="YYYY-MM-DD">
                    <span class="input-group-addon">
                        <i class="octicon octicon-calendar"></i>
                    </span>
        <input class="form-control" id="shareStartDate"
               placeholder="Start date"
               ng-model="ctrl.startDate"
               ng-model-options="{ updateOn: 'blur' }">
        <input class="form-control"
               placeholder="End date" id="shareEndDate"
               ng-model="ctrl.myInput"
               ng-model-options="{ updateOn: 'blur' }">
    </div>-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>City</th>
            <th>Wlasciciel</th>
            <th>Podziel sie</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="room in rooms">
            <td>{{room.id}}</td>
            <td>{{room.city}}</td>
            <td>{{room.owner}}</td>
            <td>
                <button class="btn btn-primary" ng-click="shareRoom(room)">Share room</button>
            </td>
        </tr>
        </tbody>
    </table>

    <h4>Pokoje ktorymi chcial sie podzielic uzytkownik</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>City</th>
            <th>Wlasciciel</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="room in sharedRooms">
            <td>{{room.id}}</td>
            <td>{{room.city}}</td>
            <td>{{room.owner}}</td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>